<!DOCTYPE html>
<html>
  <head>
    <title>{{ meta_title }}</title>
    <link rel="preload" as="style" href="{{ asset "css/main.css"}}" />

    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="{{ asset "css/main.css"}}" />

   {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
    it should always be the last tag before the closing head tag --}}
    {{ghost_head}}
  </head>
  <body>
    <header>
     <topbar>
        <span><a href="/">{{@site.title}}</a></span>
        <span><a href="/about">About</a></span>
        <span><a href="/projects">Projects</a></span>
        <span><a href="/index.xml">RSS</a></span>
        <span><a href="https://the-faun-garden.vercel.app">Notes Garden</a></span>
        <span><a href="https://github.com/rafadc"><i class="fab fa-github"></i></a></span>
        <span><a href="https://twitter.com/rafadc"><i class="fab fa-twitter"></i></a></span>
        <span><a rel="me" href="https://evilmeow.com/@rafadc"><i class="fab fa-mastodon"></i></a></span>
      </topbar>
    </header>

    <div class="site-content">
        {{!-- All other templates get inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
    </div>

<footer>
  <span>/code/joy-of-programming/blog.md <b class="branch">(master)</b></span><span class="filetype">UTF-8 Markdown</span>
</footer>

{{!-- Ghost outputs required functional scripts with this tag - it should always be the last thing before the closing body tag --}}
{{ghost_foot}}

</body>
</html>
