<h1># {{ title }}</h1>
<h2>
  +++
  <time class="byline-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
  +++
</h2>

<div class="article-tag post-card-tags">
  {{#primary_tag}}
    <span class="post-card-primary-tag">
      <a href="{{url}}">{{name}}</a>
    </span>
  {{/primary_tag}}
</div>

<div class="content">
  {{ content }}
</div>

